<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
<h1>Update Your Profile</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <br>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">Change</a>
    <br><br><br><br><br>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: @user %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :account_type %><br>
      <%= f.label :account_type, "Volunteer", :value => "volunteer"  %>
      <%= f.radio_button :account_type, "volunteer", :checked => true %>
      <%= f.label :account_type, "Organization", :value => "organization" %>
      <%= f.radio_button :account_type, "organization" %>
      
      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>
      
      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
    <div class="gravatar_edit">
    </div>
  </div>
</div>