<div id="request-<%= request.id %>" class="divided">
  <%= link_to gravatar_for(request.user, size: 80), request.user %>
  <%= link_to request.user.name, request.user %><br>
  E-mail: <%= request.user.email %><br>
  Phone: <%= request.user.phone %><br>
  Website: <%= request.user.website %>
  <br><br>
  <%= request.message %><br><br>
  <i>- Sent <%= time_ago_in_words(request.created_at) %> ago</i><br><br>
  <% if current_user?(request.user) %>
    <div class="text-right">
      <%= link_to "Accept", request, method: :put, data: { confirm: "You sure?" }, class: "btn btn-secondary btn-sm" %>
      <%= link_to "Decline", request,  method: :delete, data: { confirm: "You sure?" }, class: "btn btn-primary btn-sm" %>
    </div>
  <% end %>
</div>