<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <script src="https://use.fontawesome.com/d430254f8a.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <% if logged_in? %>
      <%= render 'layouts/navigation' %>
    <% end %>
    <a href="<%= root_path %>">
      <div id="banner">
        <div id="innerBanner"></div>
      </div>
    </a>
    <div class="container content">
      <div class="col-centered">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>